%h1 Listing items

%table
  %tr
    %th Name
    %th Due date
    %th Complete?
    %th Past due?
    %th List
    %th
    %th
    %th

  - @items.each do |item|
    %tr
      %td= item.name
      %td= item.due_date
      %td= item.complete?
      %td= item.past_due?
      %td= item.list
      %td= link_to 'Show', item
      %td= link_to 'Edit', edit_item_path(item)
      %td= link_to 'Destroy', item, :method => :delete, :data => { :confirm => 'Are you sure?' }

%br

= link_to 'New Item', new_item_path
